<ion-header>
  <ion-toolbar>
    <ion-title>Informações Úteis de IMC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="info-section">
    <h2 class="title baixo-peso">Abaixo do Normal</h2>
    <h3>18,5 ou menos</h3>
    <p>Procure um médico. Algumas pessoas podem estar enfrentando desnutrição ou outras condições.</p>
  </div>

  <hr />

  <div class="info-section">
    <h2 class="title normal">Normal</h2>
    <h3>Entre 18,6 e 24,9</h3>
    <p>Parabéns! Mantenha um estilo de vida ativo e uma alimentação equilibrada.</p>
  </div>

  <hr />

  <div class="info-section">
    <h2 class="title sobrepeso">Sobrepeso</h2>
    <h3>Entre 25,0 e 29,9</h3>
    <p>Pode ser um sinal de alerta. Revise hábitos alimentares e busque orientação para evitar complicações.</p>
  </div>

  <hr />

  <div class="info-section">
    <h2 class="title obesidade1">Obesidade Grau I</h2>
    <h3>Entre 30,0 e 34,9</h3>
    <p>É hora de iniciar mudanças com orientação de um profissional de saúde.</p>
  </div>

  <hr />

  <div class="info-section">
    <h2 class="title obesidade2">Obesidade Grau II</h2>
    <h3>Entre 35,0 e 39,9</h3>
    <p>Mudanças são urgentes. Inicie acompanhamento próximo com profissionais.</p>
  </div>

  <hr />

  <div class="info-section">
    <h2 class="title obesidade3">Obesidade Grau III</h2>
    <h3>Acima de 40,0</h3>
    <p>Procure ajuda imediata. O risco de doenças graves é alto.</p>
  </div>
</ion-content>
