<ion-content>
  <div class="page-container">

    <div class="home-content">
      <h1 class="title">Metriculoso</h1>
      
      <div class="logo-container">
        <img src="assets/logo.png" alt="Logo do Metriculoso">
      </div>
      
      <p class="intro-text">
        O Metriculoso é um app de cálculo de IMC para você poder acompanhar seu desenvolvimento físico, uma vez que pode visualizar seu histórico de cálculos de IMC e conferir a diferença dos valores. Metricule-se já na plataforma e conheça nosso projeto!
      </p>
      
      <ion-button expand="block" color="primary" routerLink="/cadastro">Cadastre-se</ion-button>
    </div>

  </div>
</ion-content>
